img {
    width: 400px;
    height: 400px;
    display: block;
}
#on , #off {
    color: white;
    border: none;
    background: green;
    padding: 10px 20px;
}
#off {
    color: white;
    border: none;
    background: red;
    padding: 10px 20px;
}